@font-face {
  font-family: 'icon';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.font-base{
	font-family: 'icon';
}
.font-time:before{
    content: "\e023";
    /*时钟*/
    margin-right: 5px;
    vertical-align: -1px;
}
.font-right:before{
    content: "\e131";
}
.font-like:before{
    content: "\e143";
    /*实心005*/
    /*margin-right: 5px;*/
    margin: 0 5px 10px;
    vertical-align: -1px;
}
.font-title::before{
    content: "\e044";
}
.font-read::before{
    content: "\e003";
    margin: 0 10px;
    vertical-align: -1px;
}
.font-mail:after{
    content: "\e003";
}
.font-top:after{
    content: "\e113";
    position: absolute;
    top: 10px;
    left: 14px;
}
.font-serch:after{
    content: "\e003";
    /*margin-right: 5px;*/
    position: absolute;
    left: 7px;
    top: 6px;
    line-height: 24px;
}
.font-pre:before{
    content:'\e074';
    color: #ddd;
    /*vertical-align: -2px;*/
    padding-right: 3px;
    font-size: 12px;
}
.font-list:before{
    content:'\e032';
    color: #333;
    margin-right: 10px;
    vertical-align: -2px;
    font-size: 18px;
}