/*body{
    width: 100%;
    height: 100%;
    background-color: #882;
    background-image: url(../img/tm-bg-slide-3.jpg) no-repeat;
}*/
.info_bg{
    width: 400px;
    height: 300px;
    background-color: rgba(27,27,27,0.2);
    border-radius: 7px;
    position: absolute;
    left: 0;
    top: 0;
}
.info_box{
    position: absolute;
    left: 0;
    top: 0;
}